@import "../../styles/utilities.scss";

.recipeCard {
  background-color: $off-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  margin: 1rem;
  &_info {
    width: 90%;
    display: block;
    padding: 1rem;
  }
  &_name {
    @include modern-display-tittle;
    color: $dark-navy;
    width: 80%;
    display: inline-flex;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }
  &_save {
    display: inline-block;
    width: 20%;
    justify-content: flex-end;
    text-align: right;
    &_button {
      color: $medium-gray;
      background-color: $off-white;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      font-size: 1rem;
    }
    &_buttonSaved {
      color: $turquoise;
      background-color: $off-white;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      font-size: 1rem;
    }
  }
  &_details {
    display: block;
    &_calories {
      width: 50%;
      display: inline-flex;
      @include recipe-text;
      p {
        margin: 0;
      }
    }
    &_elabTime {
      width: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: $medium-gray;
      p {
        margin: 0;
      }
    }
  }
  &_carbsProteins {
    @include recipe-text;
    width: 90%;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    padding-bottom: 0;
    &_carbs {
      width: 50%;
      text-align: left;
    }
    &_proteins {
      width: 50%;
      text-align: right;
    }
  }
      &_intolerances{
        display: block;
        color: $dark-navy;
        @include recipe-text;
      }
  &_ingredients {
    margin: 0.2rem;
    padding-bottom: 0.3rem;
    width: 80%;
    display: block;
    align-items: center;
    justify-content: space-between;
    &_list {
      padding: 0rem;
      list-style-type: none;
      list-style-position: inside;
    }
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      p {
        @include text-14-gray;
        margin: 0;
      }
      a {
        text-decoration: none;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        font-size: 0.8rem;
        color: $dark-gray;
        font-weight: bold;
      }
    }
  }
  &_instructions {
    margin-bottom: 1.5rem;
    width: 90%;
    &_title {
      @include modern-display-tittle;
    }
    &_text {
      @include text-14-gray-dark;
    }
  }
  img {
    width: 100%;
    text-decoration: none;
    object-fit: cover;
    max-height: 280px;
  }
}
