@import "../../styles/utilities.scss";

.ingredientCard {
  width: 100%;
  background-color: $off-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 30px;
  p{
    margin: 0;
    padding: 0;
  }
  &_header {
    width: 90%;
    display: block;
    padding: 1rem;
    &_name {
      @include modern-display-tittle;
      font-size: 1.5rem;
      color: $dark-navy;
      width: 80%;
      display: inline-flex;
      margin-top: -2rem;
      margin-bottom: -2rem;
    }
    &_calories {
      @include recipe-text;
    }
  }
  &_info {
      align-items: center;
      flex-direction: column;
      display: flex;
      width: 95%;
      margin: 1rem;
    &_item {
        width: 100%;
        justify-content: space-around;

      display: inline-flex;
      &_title {
        @include recipe-text-title;
        text-align: left;
      }
      &_data{
          @include recipe-text;
          font-size: 0.8rem;
      }
    }
  }
  img {
    width: 100%;
    text-decoration: none;
    object-fit: cover;
    max-height: 280px;
  }
}
