@import "../styles/utilities";


.mealPlanPage{

&_container{
    flex-direction: column;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 300px;
    align-items: center;
    margin: auto;
    &_error{
        @include errorMessage
    }
    &_cardsContainer{
        padding-bottom: 1rem;
    }
    &_button{
        @include call-action-button
    }
    &_text{
        @include modern-display-tittle;
        padding: 1rem;
        color: $dark-navy;
    }
    &_affinity{
        @include text-16-gray;
        font-weight: bold;
        color: $off-white;
    }
}}
