@import '../../styles/utilities.scss';

.navBar_container{
    width: 100% ;
    height: 60px;
    background-color: $turquoise;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    &_logo{
        margin: auto;
        height: 70%;
        &_image{
            height: 100%;
        }
    }
    &_list{
        margin: auto;
        text-align: end;
        margin-right: 0.5rem;
        img{
            padding: 0;
        }
        &_link{
            margin: 0.6rem;
            :hover{
                background-color: $turquoise;
            }
        }
        &_icon{
            padding-inline: 0.5rem;
            display: inline-block;
            width: 100%;
            height:30px;
            border-radius: 50%;
            font-size: 1rem;
            color:$off-white;
        }
    }
}