@import "../../styles/utilities.scss";

.linkButton{
    margin: auto;
    width: 100%;
    max-width: 370px;
    display: flex;
    height: 140px;
    border-radius: 15px;
    background-image: linear-gradient(to right top, #00b9e6, #19bee2, #2dc3de, #3fc7d9, #50cbd5, #6bd1d0, #83d6cc, #99dbca, #bae3cc, #d6ead5, #ecf2e4, #fcfcf7);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 30px;
    &_text{
        align-self: center;
        padding-left: 1.5rem;
        &_section{
            @include text-16-white;
            font-size: 1.5rem;
            margin: 0px;
            
        }
        &_link{
            text-decoration: none;
            &_text{
                font-size: 0.8rem;
                color: $turquoise;
                background-color: $off-white;
                height: 100%;
                width: fit-content;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
    &_container{
        position: relative;
        left: 10px;
        height: 110px;
        img{
            height: 100%;
            width: auto;
        }
    }
}
