@import '../styles/utilities';

.ingredientPage_container {
  display: block;
  width: 100%;
  max-width: 300px;
  align-items: center;
  margin: auto;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  &_recipes {
    &_item {
      width: 100%;
      li {
        display: flex;
        width: min-content;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &_button{
    @include call-action-button;
    margin: 1rem;
  }
  &_text{
    @include modern-display-tittle;
    width: 100%;
    text-align: center;
  }
}
