@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');


//SASS SYNTAX
$base-lime: #d6e294;
$light-lime: #f0f7c1;
$dark-navy: #18223d;
$dark-gray: #4f5052;
$white: #ffffff;
$off-white: #f7f8fc;
$orange: #f7a800;
$light-orange: #ffc649;
$turquoise: #128fae;
$medium-gray: #b2b7c6;

@mixin align-center {
    display: flex;
    align-items: center;
}
//textos modern app navy
@mixin modern-display {
    font: {
      family: 'Abril Fatface', cursive;
      size: 22px;
    }
    color: $dark-gray;
}

@mixin modern-display-tittle {
  font: {
    family: 'Abril Fatface', cursive;
    size: 18px;
  }
}

//textos pequeños splash/login/register
@mixin text-14-white {
    font: {
      family: 'Open Sans', sans-serif;
      size: 14px;
    }
    color: $white;

}

@mixin text-16-white {
    font: {
      family: 'Open Sans', sans-serif;
      size: 16px;
    }
    color: $white;
    text-decoration: none;

}

@mixin text-16-gray {
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
  color: $medium-gray;
  text-decoration: none;
}

@mixin text-18-white-buttons {
    font: {
      family: 'Open Sans', sans-serif;
      size: 18px;
    }
    color: $white;

}

@mixin text-16-offwhite-link {
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
  color: $off-white;

}

@mixin text-18-tittle {
  font: {
    family: 'Open Sans', sans-serif;
    weight: bold;
    size: 16px;
  }
  color: $off-white;

}

@mixin text-16-orange-link {
  font: {
    family: 'Open Sans', sans-serif;
    size: 16px;
  }
  color: $orange;

}

@mixin call-action-button {
    width: 90%;
    height: 50px;
    border-radius: 15px;
    background-color: $orange;
    border: none;
    @include text-18-white-buttons();
}
@mixin errorMessage {
    color: #83838378;
      background-color:#5656561c;
      border-radius: 12px;
      padding: 5px;
}